.rbc-calendar .rbc-header{padding: 15px 0;border-left: none !important;border-right: none !important;}
.rbc-header span { font-family: Poppins; font-size: 14px; font-weight: 500; line-height: 21px; letter-spacing: -0.03em; text-align: left; color: #8D929A;}
.rbc-today { background-color: white !important;}
.rbc-date-cell .rbc-button-link{font-family: Poppins; font-size: 14px; font-weight: 500; line-height: 21px; letter-spacing: -0.03em; text-align: right;color: #8D929A;}
.rbc-row-bg .rbc-off-range-bg {
  background: transparent;
}
.rbc-off-range .rbc-button-link{color: #8D929A;opacity: .4;}
.rbc-calendar .rbc-toolbar button{border-color: #D9D9D9;font-family: Poppins; font-size: 14px; font-weight: 400; line-height: 21px; letter-spacing: -0.03em; text-align: left; color: #595959;
border-radius: 20px;
margin-left: 0;
}
  .rbc-day-slot .rbc-event-label {
  display: none;
}
.rbc-toolbar .rbc-toolbar-label{font-family: Poppins; font-size: 18px; font-weight: 600;   color: #1E1E1E;}
.rbc-calendar .rbc-toolbar button:hover, .rbc-calendar .rbc-toolbar button:active, .rbc-calendar .rbc-toolbar button.rbc-active{background-color: #CECECE;color: #fff;border-color: #CECECE;}

.rbc-calendar .rbc-toolbar button:active:hover, .rbc-calendar .rbc-toolbar button:active:focus, .rbc-calendar .rbc-toolbar button.rbc-active:hover, .rbc-calendar .rbc-toolbar button.rbc-active:focus{background-color: #ad0e0e;color: #fff;
  border-color: #ad0e0e;}

 .rbc-row-segment .rbc-event, .rbc-row-segment .rbc-day-slot .rbc-background-event{    background-color: #68C32F !important;}
.rbc-event .font-bold{font-weight: 400;;}

.rbc-time-view .rbc-allday-cell{
  display: none;
}

.rbc-btn-group > button:first-child:not(:last-child) {
  margin-left: 10px;
  border-top-right-radius: 20;
  border-bottom-right-radius: 20;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 20;
}

.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 20;
  border-bottom-left-radius: 20;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0 ;
  margin-right: 0px !important;
  top: 0;
}
