@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ===== Custom Red Vertical Scrollbar ===== */
.red-scroll::-webkit-scrollbar {
  width: 2px; /* vertical scrollbar width */
  height: 0px; /* hide horizontal scrollbar */
}

.red-scroll::-webkit-scrollbar-track {
  background: transparent; 
}

.red-scroll::-webkit-scrollbar-thumb {
  background: #ec1e24;   /* red color */
  border-radius: 6px;
}



/* .swiper {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.swiper-wrapper {
  display: flex !important;
  width: max-content !important;
} */


.no-scrollbar {
  -ms-overflow-style: none;       /* IE + Edge */
  scrollbar-width: none;          /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}

.document-image img{
width:14px;
height:12px;

}

.document-image p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:4;
  
  
}

.ranking p{

  display: flex;
    flex-wrap: wrap;
  align-items: center;
    gap:4;
}

.ranking span{
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
line-height: 20px;

}

.examination p{
  display: flex;
    align-items: start;
        gap:4;
        padding: 0 !important;
        line-height: 20px;


}