@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body { 
    font-family: "Poppins", sans-serif;   
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
 
.rbc-time-slot span.rbc-label {
    font-size: 11px;
}

.ready-bg{background: linear-gradient(90deg, #CC2828 4.38%, #661414 151.98%);}

html{
  scroll-behavior: smooth;
}


 /* width */
 .customscroll::-webkit-scrollbar {
  width: 4px; border-radius: 10px;
}

/* Track */
.customscroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.customscroll::-webkit-scrollbar-thumb {
  background: #cf0a0a;
}

/* Handle on hover */
.customscroll::-webkit-scrollbar-thumb:hover {
  background: #d37f7f;
}





.policy-page h1 {
  color: #000;
  font-family: "Inter", sans-serif;;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.policy-page h2 {
  color: #000;
  font-family: "Inter", sans-serif;;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
}

.policy-page h3 {
  color: #000;
  font-family: "Inter", sans-serif;;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 30px 0 3px; */
  padding-top: 20px;
}

.policy-page h4 {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  /* margin: 24px 0 3px; */
}

.policy-page p {
  color: #000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 29px;
}

.policy-page p a {
  color: #000;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;
  margin: 0 0 5px;
  word-break: break-word;
}

.policy-page ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.policy-page ul li {
  color: #000;
  margin-bottom: 10px;
}


/* Tablet styles */
@media (max-width: 991px) {
  .policy-page h1 {
    font-size: 34px;
    line-height: 38px;
    /* margin: 0 0 10px; */
  }
  .policy-page h2 {
    font-size: 32px;
    line-height: 38px;
    /* margin: 40px 0 10px; */
  }
}


/* Mobile styles */
@media (max-width: 767px) {
  .policy-page h1 {
    font-size: 24px;
  }
  .policy-page h2 {
    font-size: 22px;
    /* margin: 20px 0 5px; */
  }
  .policy-page p {
    font-size: 14px;
  }
}